* {
    font-size: 16px;
    box-sizing: border-box;
  }

body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Arial', sans-serif;
}

hr {
    border-top: 2px solid #000000;
}

form {
    position: relative;

}

input {
    width: 100%;
    height: 45px;
    border: 2px solid #000000;
    outline: none;
    padding-left: 3px;
    background: #FFFFFF;
}

select {
    height: 45px;
    border: 2px solid #000000;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../images/icon.jpg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: right 0;
    padding-left: 3px;
}

input[type="submit"] {
    border-radius: 15px;
    text-align: center;
}

textarea {
    width: 100%;
    resize: none;
    padding: 30px 3px;
    border: 2px solid #000000;
    font-family: 'Arial', sans-serif;
}

.grid-container {
    display: grid;
    grid:
      '. search status priority createButton .' /
      1fr minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px) 1fr;
;
    grid-gap: 20px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
}

.grid-dynamic-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.taskItem, .taskItemDone {
    border: 1px solid #000000;
    padding: 200px;
    margin: 50px;
    font-size: 30px;
    text-align: center;
    width: 30%;
}

.taskItem {

}

.taskItemDone {

}

.search-form {
    grid-area: search;
}

.status-dropdown {
    grid-area: status;

}

.priority-dropdown {
    grid-area: priority;
}

.create-task {
    grid-area: createButton;
}

::placeholder { color: black; }
::-webkit-input-placeholder { color: black; }
::-moz-placeholder { color: black; }

.header h1 {
    width: 100%;
    padding-left: 13px;
}

.search-form button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 33px;
    height: 33px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}

.search-form button:before {
    content: "\f002";
    font-family: 'FontAwesome', serif;
    font-size: 16px;
    color: #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.newItemPrioritySelector {
    padding-bottom: 63px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
}

.footer p {
    padding-left: 13px;
    font-weight: bold;
}

#searchInput {
    padding-left: 39px;
}

#newItemButtons button {
    display:inline-block;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
