* {
    font-size: 16px;
    box-sizing: border-box;
  }

body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Arial', sans-serif;
}

hr {
    border-top: 2px solid #000000;
}

form {
    position: relative;

}

input {
    width: 100%;
    height: 45px;
    border: 2px solid #000000;
    outline: none;
    padding-left: 3px;
    background: #FFFFFF;
}

select {
    height: 45px;
    border: 2px solid #000000;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../images/icon.jpg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: right 0;
    padding-left: 3px;
}

input[type="submit"] {
    border-radius: 15px;
    text-align: center;
}

textarea {
    width: 100%;
    resize: none;
    padding: 30px 3px;
    border: 2px solid #000000;
    font-family: 'Arial', sans-serif;
}

.grid-container {
    display: grid;
    grid:
      '. search status priority createButton .' /
      170px minmax(150px, 400px) minmax(100px, 230px) minmax(100px, 230px) minmax(100px, 210px) 1fr;
;
    grid-gap: 20px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
}

.grid-dynamic-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    margin-left: 200px;
    grid-gap: 40px;
    position: relative;
}

.taskItem, .taskItemDone {
    border: 2px solid #000000;
    padding: 0 30px;
    font-size: 30px;
    text-align: left;
    width: 350px;
    height: 500px;
    position: relative;
}

.checkbox-checked {
    width:20px;
    height:20px;
    border: 1px solid #000;
    display: inline-block;
    background-color: #FFFFFF;
    position: absolute;
    top: -9px;
    right: -9px;
}

.checkbox-checked:after {
    content: '';
    display: block;
    width: 4px;
    height: 7px;

    position:relative;
    top:4px;
    left:7px;

    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.taskItem>.checkbox-checked {
    display: none;
}

.task-item-title, .task-item-description {
    font-weight: bold;
}

.task-item-title {
    position: absolute;
    margin-top: 20px;
}
.task-item-description {
    height: 200px;
    position: relative;
}

.task-item-description p{
    margin: 0;
    position: absolute;
    top: 50%;
}

.task-item-priority {
    border: 2px dashed #000000;
    border-radius: 16px;
    padding: 1px 2px;
    font-weight: bold;
    /*margin: 4px 2px;*/
    text-align: center;
    display: inline-block;
    width: 50%;
    bottom: 35px;
    position: absolute;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 16px;
    text-align: center;
    height: 56px;
    background-color: transparent;
}

.task-item-more {
    position: absolute;
    display: inline-block;
    height: 56px;
    bottom: 35px;
    right: 30px;
}

.task-item-more-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #000000;
}

.task-item-more-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid #000000;
}

.task-item-more-content a:hover {background-color: #FFFFFF;}

.task-item-more:hover .task-item-more-content {display: block;}

.taskItemDone {
    background-color: #f1f1f1;
}

.search-form {
    grid-area: search;
}

.status-dropdown {
    grid-area: status;

}

.priority-dropdown {
    grid-area: priority;
}

.create-task {
    grid-area: createButton;
}

::placeholder { color: black; }
::-webkit-input-placeholder { color: black; }
::-moz-placeholder { color: black; }

.header h1 {
    width: 100%;
    padding-left: 13px;
}

.search-form button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 33px;
    height: 33px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
}

.search-form button:before {
    content: "\f002";
    font-family: 'FontAwesome', serif;
    font-size: 16px;
    color: #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

.newItemPrioritySelector {
    padding-bottom: 63px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
}

.footer p {
    padding-left: 13px;
    font-weight: bold;

}

#searchInput {
    padding-left: 39px;
}

#newItemButtons button {
    display:inline-block;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
